<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.productserver.mapper.ProductMapper">

    <resultMap type="com.springcloud.productapi.entity.Product" id="resultRM">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="price" column="price" />
        <result property="stock" column="stock" />
    </resultMap>

    <select id="find" resultMap="resultRM">
		select * from product where
		id = #{id}
	</select>

    <select id="list" resultMap="resultRM">
		select * from product
	</select>

</mapper>